{% load widget_tweaks %}
<form method="post" id="frmMunicipio" class="js-update-form">
  {% csrf_token %}
  <div class="panel-heading">

    <span class="panel-title" id="tituloForm"> Registro de establecimiento </span>

    <button type="button" class="close" data-dismiss="modal">
      <span class="panel-icon text-right">
      <i class="fa fa-close"></i>
    </span>
    </button>
  </div>
  <div class="panel-body">
    <input type="hidden" id="id" name="id" value="{{form.instance.pk}}">
    <input type="hidden" id="hdEstregistro" name="estregistro" value="">
    
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> 
      <strong>Proceso de Importar datos. </strong> Favor ingrese el <strong>código del establecimiento </strong>  y haga clic en el botón <strong>buscar</strong> para consultar datos
       del establecimiento. Esta información proviene del sitio oficial <a href="https://www.datos.gov.co/">https://www.datos.gov.co/</a>  y fue registrada por la secretaría local y demás
       entes que supervisan y controlan el tema administrativo de establecimientos oficiales y no oficiales en Colombia.
    </div>
    
    <div class="admin-form">

      <div class="section row mb10">
        <label for="account-name" class=" col-md-3 field-label text-left">Código DANE</label>
        <div class="col-md-6">
          <label class="field select">
             {{ form.codigo|add_class:'gui-input'|attr:"autofocus" }}    
             <!--<input type="text" name="codigo" id="codigo" class="gui-input" value="" placeholder="Digite el código DANE asignado por la Secretaría local o administradora">             -->
            <i class="arrow double"></i>
          </label>
          <!--<div id="codigoDepartamento"  class="well well-sm"></div>-->
        </div>
        <div class="col-md-3">
          <button type="button" id="btnRegistrar" onclick="clicBuscarDatosCo()" class="btn btn-primary">Buscar Datos</button>
        </div>
      </div>

      <div id="divDatosConsultados">
        <div class="panel panel-visible " id="spy2">
          <table class="table table-striped table-hover dataTable no-footer" id="datosConsultados" describedby="datatable_info" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>       
                                <th>Acciones</th>
                                <th>Nombre</th>
                                <th>Municipio</th>
                                 <th>Nombre del Rector (a)</th>
                                <th>Tipo de establecimiento</th>
                                <th>Departamento</th>                                
                                <th>zona</th>
                                <th>Dirección</th>
                                <th>telefono</th>
                               
                                <th>Etnias</th>
                                <th>Sector</th>
                                <th>Genero</th>
                                <th>Niveles</th>
                                <th>Jornadas</th>
                                <th>Caracter</th>
                                <th>Especialidad</th>
                                <th>Grados</th>
                                <th>Modelos Educativos</th>
                                <th>Capacidades Excepcionales</th>
                                <th>Discapacidades</th>
                                <th>Idiomas</th>
                                <th>Número de sedes</th>
                                <th>Estado del establecimiento</th>
                                <th>Prestador de servicio</th>
                                <th>propiedad planta física</th>
                                <th>Resguardo</th>
                                <th>Matricula contratada</th>
                                <th>Calendario</th>
                                <th>Internado</th>
                                <th>Estrado socio económico</th>
                                <th>Correo eletrónico</th>                                                              
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
        </div>
        <code id="tagCode">

        </code>
      </div>



    </div>

  </div>
  <!--fin del modal-body    -->
  <div class="panel-footer text-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" id="btnRegistrar" onclick="clicRegistrarPost()" class="btn btn-primary">Registrar</button>
    <button type="button" id="btnEditar" onclick="clicActualizarPost()" class="btn btn-primary">Guardar cambios</button>
  </div>
</form>

<!--Procedimiento javascript inicial-->
<script type="text/javascript">
  iniciarModal();

</script>