{% load widget_tweaks %}
<!--{% load crispy_forms_tags %}-->
<form method="post" id="formSede" class="js-update-form" autocomplete="off">
  {% csrf_token %}
  <div class="panel-heading">

    <span class="panel-title" id="tituloForm"> Registro sedeeee </span>

    <button type="button" class="close" data-dismiss="modal">
      <span class="panel-icon text-right">
      <i class="fa fa-close"></i>
    </span>
    </button>
  </div>
  <div class="panel-body">
    <input type="hidden" id="id" name="id" value="{{form.instance.pk}}">    
    <div class="admin-form">

    <!--{{ form|crispy }}-->
{% for field in form %}
       <div class="form-group{% if field.errors %} has-error{% endif %}">
         <label for="{{ field.id_for_label }}">{{ field.label }}</label>
         {% render_field field class="form-control" %}
         {% for error in field.errors %}
           <p class="help-block">{{ error }}</p>
         {% endfor %}
       </div>
     {% endfor %}

    </div>

  </div>
  <!--fin del modal-body    -->
  <div class="panel-footer text-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" id="btnRegistrar" onclick="clicRegistrarSedePost()" class="btn btn-primary">Registrar </button>        
  </div>
</form>

<!--Procedimiento javascript inicial-->
<script type="text/javascript">
  iniciarModal();