{% extends 'basePlantillaWide.html' %} {% block migaPan %}
<li class="crumb-active">
    <a href="dashboard.html">Dashboard</a>
</li>
<li class="crumb-icon">
    <a href="dashboard.html">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</li>
<li class="crumb-link">
    <a href="index.html">Establecimiento</a>
</li>
<li class="crumb-trail"> Datos básicos</li>
{% endblock %} {% block panelMigaPan %} {% endblock %} {% block contenido %}
<div class="row">
    <div class="col-md-12">


<!-- Begin: Content -->
            <section id="content" class="animated fadeIn">

                <h2 class="lh30 mt15 text-center"><b class="text-primary">Mix and Match</b> settings with our Admin Wizard</h2>
                <p class="lead mb20 text-center">Built in options that make creating a new form wizard easier and faster than ever.</p>

                <div class="row">
                    <div class="col-md-9 center-block">
                        <div class="bg-light br-a br-light p15 mb20 text-center text-muted">
                            <div class="row wizard-options">
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15 holder-active" data-steps-style="steps-left">
                                        <span class="fa fa-align-left holder-icon"></span>
                                        <br> Steps Left
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15" data-steps-style="steps-right">
                                        <span class="fa fa-align-right holder-icon"></span>
                                        <br> Steps Right
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15 holder-active" data-steps-style="steps-bg">
                                        <span class="fa fa-eyedropper holder-icon"></span>
                                        <br> Background
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15" data-steps-style="steps-tabs">
                                        <span class="fa fa-bookmark holder-icon"></span>
                                        <br> As Tabs
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15" data-steps-style="steps-justified">
                                        <span class="fa fa-arrows-h holder-icon"></span>
                                        <br> Justified
                                    </a>
                                </div>
                                <div class="col-xs-4 col-sm-2 ph10">
                                    <a class="holder-style p15 steps-type" data-steps-style="steps-show-icons">
                                        <span class="fa fa-rocket holder-icon"></span>
                                        <br> With Icons
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Form Wizard -->
                        <div class="admin-form">

                            <form method="post" action="/" id="form-wizard">
                                <div class="wizard steps-bg steps-left">

                                    <!-- Wizard step 1 -->
                                    <h4 class="wizard-section-title"><i class="fa fa-user pr5"></i> User Details</h4>
                                    <section class="wizard-section">

                                        <div class="section">
                                            <label for="username" class="field-label">Choose your username</label>
                                            <div class="smart-widget sm-right smr-120">
                                                <label for="username" class="field prepend-icon">
                                                    <input type="text" name="username" id="username" class="gui-input" placeholder="john-doe">
                                                    <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                                    </label>
                                                </label>
                                                <label for="username" class="button">.envato.com</label>
                                            </div>
                                            <!-- end .smart-widget section -->
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="password" class="field-label">Create a password</label>
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input">
                                                <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                    </section>

                                    <!-- Wizard step 2 -->
                                    <h4 class="wizard-section-title"><i class="fa fa-dollar pr5"></i> Payment</h4>
                                    <section class="wizard-section">

                                        <div class="section">
                                            <label for="firstname" class="field prepend-icon">
                                                <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                                <label for="firstname" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="lastname" class="field prepend-icon">
                                                <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
                                                <label for="lastname" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                    </section>

                                    <!-- Wizard step 3 -->
                                    <h4 class="wizard-section-title"><i class="fa fa-shopping-cart pr5"></i> Checkout</h4>
                                    <section class="wizard-section">

                                        <div class="section">
                                            <label for="email" class="field prepend-icon">
                                                <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                                <label for="email" class="field-icon"><i class="fa fa-envelope"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="mobile" class="field prepend-icon">
                                                <input type="tel" name="mobile" id="mobile" class="gui-input" placeholder="Telephone / moble number">
                                                <label for="mobile" class="field-icon"><i class="fa fa-phone-square"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                    </section>
                                </div>
                                <!-- End: Wizard -->

                            </form>
                            <!-- End Account2 Form -->

                        </div>
                        <!-- end: .admin-form -->

                    </div>

                </div>

            </section>
            <!-- End: Content -->

        <!--<div class="panel panel-visible">

            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-home"></span>Registro nuevo establecimiento
                </div>
            </div>

            <div class="panel-body pn" id="divLista">
               


            </div>

        </div>-->
    </div>

</div>
 <style>
    
    /*page demo styles*/
    .wizard .steps .fa,
    .wizard .steps .glyphicon,
    .wizard .steps .glyphicon {
        display: none;
    }
    </style>
{% endblock %} {% load static %} {% block js %} {{ block.super }} {# includes previous content in block #}
<script src="{% static 'admindesigns/assets/admin-tools/admin-forms/js/advanced/steps/jquery.steps.js' %}"></script>
<script type="text/javascript" src="{% static 'admindesigns/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'admindesigns/assets/js/demo.js' %}"></script>
<script src="{% static 'js/establecimiento/EstablecimientosNuevo.js' %}"></script>
<!-- Page Plugins -->
{% endblock %}