{% extends 'basePlantillaWide.html' %} {% block migaPan %} {% load widget_tweaks %}

<li class="crumb-active">
  <a href="dashboard.html">Dashboard</a>
</li>
<li class="crumb-icon">
  <a href="dashboard.html">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</li>
<li class="crumb-link">
  <a href="index.html">Establecimiento</a>
</li>
<li class="crumb-trail"> Datos básicos</li>
{% endblock %} {% block panelMigaPan %} {% endblock %} {% block contenido %}
<div class="row">
  <div class="col-md-12">

    <p class="lead mb20 text-center">Formulario de registro ultrarápido de establecimiento educativo.</p>
    <!-- Begin: Content -->

    <!--<h2 class="lh30 mt15 text-center"><b class="text-primary">Registro de establecimiento</b> y compruebe lo fácil que es adminitrar tu colegio</h2>-->


    <div class="row">
      <div class="col-md-10 center-block">


        <!-- Form Wizard -->
        <div class="admin-form">

          <form method="post" action="/" id="form-wizard">
            {% csrf_token %}
            <div class="wizard  steps-bg steps-tabs steps-justified steps-show-icons">

              <!-- Wizard step 1 -->
              <h4 class="wizard-section-title">1. Importar datos <i class="glyphicons glyphicons-cloud-download pr5"></i></h4>
              <section class="wizard-section">

                <div class="section">

                  <div class="alert alert-default light alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Proceso de Importar datos. </strong> Favor ingrese el <strong>código del establecimiento </strong>                    y haga clic en el botón <strong>buscar</strong> para consultar datos del establecimiento. Esta información
                    proviene del sitio oficial <a href="https://www.datos.gov.co/">https://www.datos.gov.co/</a> y fue registrada
                    por la secretaría local y demás entes que supervisan y controlan el tema administrativo de establecimientos
                    oficiales y no oficiales en Colombia.
                  </div>

                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Código DANE</label>
                      <div class="col-lg-3">
                        <label class="field select">
                                                    {{ form.codigo  | add_class:'gui-input' }}                                                                                                            
                                                </label>
                      </div>
                      <div class="col-md-3 ">
                        <button type="button" onclick="clicBuscarDatosCo()" class="btn btn-primary">Buscar Datos</button>
                      </div>
                    </div>
                  </div>

                  <div class="panel  " id="divDatosConsultados">
                    <table class="table table-striped table-hover dataTable no-footer" id="datosConsultados" describedby="datatable_info" cellspacing="0"
                      width="100%">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Municipio</th>
                          <th>Nombre del Rector (a)</th>
                          <th>Tipo de establecimiento</th>
                          <th>Departamento</th>
                          <th>zona</th>
                          <th>Dirección</th>
                          <th>telefono</th>

                          <th>Etnias</th>
                          <th>Sector</th>
                          <th>Genero</th>
                          <th>Niveles</th>
                          <th>Jornadas</th>
                          <th>Caracter</th>
                          <th>Especialidad</th>
                          <th>Grados</th>
                          <th>Modelos Educativos</th>
                          <th>Capacidades Excepcionales</th>
                          <th>Discapacidades</th>
                          <th>Idiomas</th>
                          <th>Número de sedes</th>
                          <th>Estado del establecimiento</th>
                          <th>Prestador de servicio</th>
                          <th>propiedad planta física</th>
                          <th>Resguardo</th>
                          <th>Matricula contratada</th>
                          <th>Calendario</th>
                          <th>Internado</th>
                          <th>Estrado socio económico</th>
                          <th>Correo eletrónico</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>

                  <!-- end .smart-widget section -->
                </div>
                <!-- end section -->

              </section>

              <!-- Wizard step 2 -->
              <h4 class="wizard-section-title">2. Datos generales <i class="glyphicon glyphicon-home pr5"></i></h4>
              <section class="wizard-section">


                <div class="section">

                  <div class="panel-body form-horizontal">
                    <form class="form-horizontal" role="form">

                      <div class="form-group">
                        <label class=" col-md-3 control-label">{{ form.nombre.label  }}</label>
                        <div class="col-lg-8">
                          {{ form.nombre | add_class:'gui-input' }} {{ form.nombre.errors }} {% comment %}NO FUNCIONO - SEGUIR INVENSTIGANDO{% endcomment
                          %}
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">{{ form.nombreRector.label  }}</label>
                        <div class="col-lg-8">
                          {{ form.nombreRector | add_class:'gui-input' }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label class=" col-md-3 control-label">{{ form.municipio.label  }}</label>
                        <div class="col-lg-8">
                          {{ form.municipio | add_class:'gui-input' }}
                        </div>
                      </div>



                      <div class="form-group">
                        <label class=" col-md-3 control-label">{{ form.fechafundacion.label  }}</label>
                        <div class="col-lg-8">
                          {{ form.fechafundacion | add_class:'gui-input' }}
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="fileupload fileupload-new admin-form" data-provides="fileupload">
                          <div class="fileupload-preview thumbnail mb15">
                            <label for="account-name" class="field">
                              <img src="{{ form.instance.escudo.url }} " class="h-170" >
                                {{ form.escudo}} 

                              </label>
                          </div>
                        </div>

                      </div>


                    </form>
                  </div>

                </div>

                <!-- end section -->

              </section>

              <!-- Wizard step 3 -->
              <h4 class="wizard-section-title">3. Aspecto legal <i class="glyphicons glyphicons-suitcase pr5"></i></h4>
              <section class="wizard-section">

                {% comment %}
                <div class="section">
                  <label for="email" class="field prepend-icon">
                                                <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                                <label for="email" class="field-icon"><i class="fa fa-envelope"></i>
                                                </label>
                  </label>
                </div>{% endcomment %}
                <!-- end section -->

                <div class="section">
                  <!--ADMINISTRADOR DE       S E D E S-->
                  <div class="col-sm-12">
                    <div class="panel panel-visible">

                      <div class="panel-heading">
                        <div class="panel-title hidden-xs">
                          <span class="glyphicon glyphicon-home"></span>Sedes
                          <div class="alineacionVertical pull-right">
                            <a class="btn btn-success btn-sm light fw600 ml10 " onclick="formularioRegistrarSede()" title="Nueva sede">
                              <span class="fa fa-plus pr5"></span> Nueva</a>
                          </div>

                        </div>
                      </div>
                      <div class="panel-body pn" id="divSedes">
                        <div class="tray tray-center p10 va-t posr">
                          <table class="table table-striped table-hover dataTable no-footer" id="postsTable" describedby="datatable_info" cellspacing="0"
                            width="100%">
                            <thead>
                              <tr class="alert">
                                <th>Acciones</th>
                                <th>Sede</th>
                                <th>Consecutivo</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th>Responsable</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>

                      </div>

                    </div>
                  </div>

                  <!--ADMINISTRADOR DE       J O R N A D A S       -->
                  <div class="col-sm-12" id="divJornadas">
                    <div class="panel panel-visible">

                      <div class="panel-heading">
                        <div class="panel-title hidden-xs">
                          <span class="glyphicon glyphicon-home"></span>Jornadas
                          <div class="alineacionVertical pull-right">
                            <a class="btn btn-success btn-sm light fw600 ml10 " onclick="formularioRegistrarSede()" title="Nueva jornada">
                              <span class="fa fa-plus pr5"></span> Nueva</a>
                          </div>

                        </div>
                      </div>
                      <div class="panel-body pn">
                        <div class="tray tray-center p10 va-t posr">
                          <table class="table table-striped table-hover dataTable no-footer" id="postsTableJornadas" describedby="datatable_info" cellspacing="0"
                            width="100%">
                            <thead>
                              <tr class="primary">
                                <th>Acciones</th>
                                <th>Sede</th>
                                <th>Jornada</th>                                
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>

                      </div>

                    </div>
                  </div>

                  
                </div>
                <!-- end section -->

              </section>
            </div>
            <!-- End: Wizard -->

          </form>
          <!-- End Account2 Form -->

        </div>
        <!-- end: .admin-form -->

      </div>

    </div>



  </div>

</div>
<style>
  /*page demo styles*/

  .wizard .steps .fa,
  .wizard .steps .glyphicon,
  .wizard .steps .glyphicon {
    display: none;
  }
</style>
{% endblock %} {% load static %} {% block js %} {{ block.super }} {# includes previous content in block #}
<script src="{% static 'admindesigns/assets/admin-tools/admin-forms/js/advanced/steps/jquery.steps.js' %}"></script>
{% comment %}
<script type="text/javascript" src="{% static 'admindesigns/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'admindesigns/assets/js/demo.js' %}"></script>{% endcomment %}
<script src="{% static 'js/establecimiento/EstablecimientosNuevo.js' %}"></script>
<!-- Page Plugins -->
{% endblock %}