{% extends 'basePlantillaWide.html' %} {% block migaPan %}

{% load widget_tweaks %}

<li class="crumb-active">
  <a href="dashboard.html">Dashboard</a>
</li>
<li class="crumb-icon">
  <a href="dashboard.html">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</li>
<li class="crumb-link">
  <a href="index.html">Establecimiento</a>
</li>
<li class="crumb-trail"> Datos básicos</li>
{% endblock %} {% block panelMigaPan %} {% endblock %} {% block contenido %}
<div class="row">
  <div class="col-md-12">

    <p class="lead mb20 text-center">Formulario de registro ultrarápido de establecimiento educativo.</p>
    <!-- Begin: Content -->

    <!--<h2 class="lh30 mt15 text-center"><b class="text-primary">Registro de establecimiento</b> y compruebe lo fácil que es adminitrar tu colegio</h2>-->


    <div class="row">
      <div class="col-md-10 center-block">


        <!-- Form Wizard -->
        <div class="admin-form">

          <form method="post" action="/" id="form-wizard">
            <div class="wizard  steps-bg steps-tabs steps-justified steps-show-icons">

              <!-- Wizard step 1 -->
              <h4 class="wizard-section-title"><i class="glyphicons glyphicons-cloud-download pr5"></i> Importar datos</h4>
              <section class="wizard-section">

                <div class="section">
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Proceso de Importar datos. </strong> Favor ingrese el <strong>código del establecimiento </strong>                    y haga clic en el botón <strong>buscar</strong> para consultar datos del establecimiento. Esta información
                    proviene del sitio oficial <a href="https://www.datos.gov.co/">https://www.datos.gov.co/</a> y fue registrada
                    por la secretaría local y demás entes que supervisan y controlan el tema administrativo de establecimientos
                    oficiales y no oficiales en Colombia.
                  </div>


                  <div class="section row alineacionVertical ">
                    <label class=" col-md-2 field  text-left ">
                                                    Código DANE
                                                </label>
                    <div class="col-md-3 ">
                      <label class="field select">
                                                    {{ form.codigo  | add_class:'gui-input' }}                                                        
                                                    
                                                </label>
                      
                    </div>
                    <div class="col-md-3 ">
                      <button type="button" id="btnRegistrar" onclick="clicBuscarDatosCo()" class="btn btn-primary">Buscar Datos</button>
                    </div>
                  </div>

                  <div class="panel  " id="divDatosConsultados">
                    <table class="table table-striped table-hover dataTable no-footer" id="datosConsultados" describedby="datatable_info" cellspacing="0"
                      width="100%">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Municipio</th>
                          <th>Nombre del Rector (a)</th>
                          <th>Tipo de establecimiento</th>
                          <th>Departamento</th>
                          <th>zona</th>
                          <th>Dirección</th>
                          <th>telefono</th>

                          <th>Etnias</th>
                          <th>Sector</th>
                          <th>Genero</th>
                          <th>Niveles</th>
                          <th>Jornadas</th>
                          <th>Caracter</th>
                          <th>Especialidad</th>
                          <th>Grados</th>
                          <th>Modelos Educativos</th>
                          <th>Capacidades Excepcionales</th>
                          <th>Discapacidades</th>
                          <th>Idiomas</th>
                          <th>Número de sedes</th>
                          <th>Estado del establecimiento</th>
                          <th>Prestador de servicio</th>
                          <th>propiedad planta física</th>
                          <th>Resguardo</th>
                          <th>Matricula contratada</th>
                          <th>Calendario</th>
                          <th>Internado</th>
                          <th>Estrado socio económico</th>
                          <th>Correo eletrónico</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>

                  <!-- end .smart-widget section -->
                </div>
                <!-- end section -->
               
              </section>

              <!-- Wizard step 2 -->
              <h4 class="wizard-section-title"><i class="fa fa-dollar pr5"></i> Datos generales</h4>
              <section class="wizard-section">


                <div class="section">
                  
                          <div class="panel-body form-horizontal">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Static Field</label>
                                        <div class="col-lg-8">
                                            <p class="form-control-static text-muted">email@example.com</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Standard</label>
                                        <div class="col-lg-8">
                                            <input type="text" id="inputStandard" class="form-control" placeholder="Type Here...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledInput" class="col-lg-3 control-label">Disabled</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="disabledInput" type="text" placeholder="A Disabled Form" disabled="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="textArea1">Text Area Expand</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control textarea-grow" id="textArea1" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="textArea2">Text Area</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" id="textArea2" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="textArea3">Disabled Text Area</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" id="textArea3" rows="3" disabled=""></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
              

                


                
                </div>
                <!-- end section -->

                <div class="section">
                  <label for="lastname" class="field prepend-icon">
                                                <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
                                                <label for="lastname" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                  </label>
                </div>
                <!-- end section -->

              </section>

              <!-- Wizard step 3 -->
              <h4 class="wizard-section-title"><i class="fa fa-shopping-cart pr5"></i> Checkout</h4>
              <section class="wizard-section">

                <div class="section">
                  <label for="email" class="field prepend-icon">
                                                <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                                <label for="email" class="field-icon"><i class="fa fa-envelope"></i>
                                                </label>
                  </label>
                </div>
                <!-- end section -->

                <div class="section">
                  <label for="mobile" class="field prepend-icon">
                                                <input type="tel" name="mobile" id="mobile" class="gui-input" placeholder="Telephone / moble number">
                                                <label for="mobile" class="field-icon"><i class="fa fa-phone-square"></i>
                                                </label>
                  </label>
                </div>
                <!-- end section -->

              </section>
            </div>
            <!-- End: Wizard -->

          </form>
          <!-- End Account2 Form -->

        </div>
        <!-- end: .admin-form -->

      </div>

    </div>



  </div>

</div>
<style>
  /*page demo styles*/

  .wizard .steps .fa,
  .wizard .steps .glyphicon,
  .wizard .steps .glyphicon {
    display: none;
  }
</style>
{% endblock %} {% load static %} {% block js %} {{ block.super }} {# includes previous content in block #}
<script src="{% static 'admindesigns/assets/admin-tools/admin-forms/js/advanced/steps/jquery.steps.js' %}"></script>
{% comment %}
<script type="text/javascript" src="{% static 'admindesigns/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'admindesigns/assets/js/demo.js' %}"></script>{% endcomment %}
<script src="{% static 'js/establecimiento/EstablecimientosNuevo.js' %}"></script>
<!-- Page Plugins -->
{% endblock %}